/* styles.css */
body {
    background-color: #7C0CC7; /* Set the background color */
  }
  
  a {
    color: #7C0CC7; /* Set the link color */
  }
  
  a:hover {
    color: #7C0CC7; /* Set the link color on hover */
  }
  
  /* Add more styles as needed */
    